
@{
    ViewBag.Title = "CheckOut";
}

<h2>Check Out</h2>

<div>
    <h4>Order Confirmed! Thank you for shopping with iCLOTHING.</h4>
    <hr />
</div>
<p>
    @Html.ActionLink("Return to Home", "Index", "Home");
</p>
