
@{
    ViewBag.Title = "AccountCreated";
}

<h2>Account created!</h2>

<div>
    <h4>You are now logged in.</h4>
    <hr />
</div>
<p>
    @Html.ActionLink("Return to Home", "Index", "Home");
</p>


