@{
    ViewBag.Title = "New Account Form";
}

<h2>Create account</h2>

<!DOCTYPE html>

@using (Html.BeginForm("AcctFormSubmit", "CreateAccount"))
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Enter your credentials:</h4>
    <hr />
    <div class="form-group">
        Username:
        <div class="col-md-10">
            <input type="text" name="userName" id="passWord" />
        </div>
    </div>
    <div class="form-group">
        Password:
        <div class="col-md-10">
            <input type="text" name="passWord" id="passWord" />
        </div>
    </div>
    <div class="form-group">
        Shipping Address:
        <div class="col-md-10">
            <input type="text" name="shippingAddress" id="shippingAddress" />
        </div>
    </div>
    <div class="form-group">
        Billing Address:
        <div class="col-md-10">
            <input type="text" name="billingAddress" id="billingAddress" />
        </div>
    </div>
    <div class="form-group">
        Date of Birth (YYYY/MM/DD):
        <div class="col-md-10">
            <input type="text" name="DOB" id="DOB" />
        </div>
    </div>
    <div class="form-group">
        Gender:
        <div class="col-md-10">
            <input type="text" name="gender" id="gender" />
        </div>
    </div>
    <div class="form-group">
        Email:
        <div class="col-md-10">
            <input type="text" name="email" id="email" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Register" class="btn btn-default" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}