@model Group6_iCLOTHINGApp.Models.UserPasswords

@{
    ViewBag.Title = "AuthSuccess";
}

<h2>Authorization Successful!</h2>

<div>
    <h4>You are now logged in.</h4>
    <hr />
</div>
<p>
    @Html.ActionLink("Return to Home", "Index", "Home");
</p>
