
@{
    ViewBag.Title = "NeedLogin";
}

<h2>You are not logged in.</h2>
<div>
    <h4>You must login before accessing this feature.</h4>
    <hr />
</div>
<div>
    @Html.ActionLink("Login", "UserLoginForm", "Login")
</div>

